*{
    padding:0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

#map { height: 100%; width: 100%; }


.rotate {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(60deg) scale(1); /* rotate is not still unprefixed! */
    -moz-transform: rotate(60deg) scale(1); 
    -o-transform: rotate(60deg) scale(1); 
    -ms-transform: rotate(60deg) scale(1); 
    transform: rotate(60deg) scale(1);
    z-index: 999;
}
.rotate:hover { 
    -webkit-transform: rotate(30deg) scale(1);
    -moz-transform: rotate(30deg) scale(1); 
    -o-transform: rotate(30deg) scale(1); 
    -ms-transform: rotate(30deg) scale(1); 
    transform: rotate(30deg) scale(1);
}

/* it doesnot work because transform is overrided in leaflet  */
.icon-rotated {
    -webkit-transform: rotate(60deg) scale(1);
    -moz-transform: rotate(60deg) scale(1); 
    -o-transform: rotate(60deg) scale(1); 
    -ms-transform: rotate(60deg) scale(1); 
    transform: rotate(60deg) scale(1);
    zoom: 1;
}